﻿@model ModaMiguelao.Web.ViewModels.ShoppingCartViewModel

@{
    string ReturnUrl = ViewBag.returnUrl;
    string urlRemoveitem = ViewBag.urlRemoveitem;
}

@section styles{
}

@section scripts{
    <script>
        var modal;
        var removedId;
        var urlRemoveitem = '@urlRemoveitem';
    </script>
        
    <script src="~/Scripts/ViewScripts/ShoppingCart.js"></script>
    
}
<h2>Carrinho</h2>
<table class="table table-striped table-condensed table-bordered">
    <thead>
        <tr>

            <th class="text-center">Produto</th>
            <th class="text-center">Quantidade</th>
            <th class="text-center">Preço</th>
            <th class="text-center">Subtotal</th>
            <th class="text-center">Remover</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Itens)
        {
            <tr id="row-@item.Product.Id">
                <td>@Html.DisplayFor(modelItem => item.Product.Name)</td>
                <td class="text-right">@Html.DisplayFor(modelItem => item.Quantity)</td>
                <td class="text-right">@Html.DisplayFor(modelItem => item.Product.Value)</td>
                <td class="text-right">@Html.DisplayFor(modelItem => item.Value)</td>
                <td class="text-center">
                    @using (Html.BeginForm("Remove", "ShoppingCart"))
                    {
                        @Html.Hidden("id", item.Product.Id)
                        @*@Html.HiddenFor(modelItem => ReturnUrl)*@

                        //TODO - usar as data annotation
                        //TODO - trocar pelo id do item do carrinho
                        <button type="button" class="btn btn-default btn-sm" onclick="removeShoppingCartItem(@item.Product.Id);">
                            <span class="glyphicon glyphicon-remove" style="color:red;" />
                        </button>
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td>@Html.DisplayFor(modelItem => modelItem.Total)</td>
            <td></td>
        </tr>
    </tfoot>
</table>

<div>
    <a class="btn btn-primary" href="@ReturnUrl">Continuar Comprando</a>

    @Html.ActionLink("Fechar pedido", "CloseOrder", "Order", null, new { @class = "btn btn-primary" })
</div>