﻿@model ModaMiguelao.Web.ViewModels.ShoppingCartViewModel

<div class="navbar-right">
    @Html.ActionLink("Checkout", "Index", "ShoppingCart", new { returnUrl = Request.Url.PathAndQuery }, new { @class = "btn btn-default navbar-btn"} )
</div>
<div class="navbar-text navbar-right">
    <b>Meus Produtos: </b>
    @Model.Itens.Count itens, @Model.Total
</div>
    
