﻿@model ModaMiguelao.Web.ViewModels.OrderViewModel

@{
    ViewBag.Title = "Fechar Pedido";
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $('#Client_Address_ZipCode').change(function (e) {
            e.preventDefault();

            //TODO - repassar para application

            var cep = $('#Client_Address_ZipCode').val().replace("-", "").trim();
            $.getJSON("http://cep.republicavirtual.com.br/web_cep.php?cep=" + cep + "&formato=json", {}, function (data) {
                if (data.resultado_text = 'sucesso - cep completo') {

                    $('#Client_Address_Street').val(data.tipo_logradouro + " " + data.logradouro);
                    $('#Client_Address_District').val(data.bairro);
                    $('#Client_Address_City').val(data.cidade);
                    $('#Client_Address_State').val(data.uf);

                } else {

                    $('#Client_Address_Street').val('');
                    $('#Client_Address_District').val('');
                    $('#Client_Address_City').val('');
                    $('#Client_Address_State').val('');
                }
            });
        });

    </script>
}

@section styles{
    
}

<h2>Fechar o pedido</h2>
<p>Digite suas informações:</p>
@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <h3>Enviar para</h3>

    <div class="form-group">
        @Html.LabelFor(x => x.Client.Name)
        @Html.TextBoxFor(x => x.Client.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Client.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Client.Surname)
        @Html.TextBoxFor(x => x.Client.Surname, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Client.Surname)
    </div>


    <h3>Dados para entrega</h3>
    <div class="form-group">
        @Html.LabelFor(x => x.Client.Address.ZipCode)
        @Html.TextBoxFor(x => x.Client.Address.ZipCode, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Client.Address.Street)
        @Html.TextBoxFor(x => x.Client.Address.Street, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Client.Address.District)
        @Html.TextBoxFor(x => x.Client.Address.District, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Client.Address.City)
        @Html.TextBoxFor(x => x.Client.Address.City, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Client.Address.State)
        @Html.TextBoxFor(x => x.Client.Address.State, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Client.Email)
        @Html.TextBoxFor(x => x.Client.Email, new { @class = "form-control" })
    </div>


    <h3>Opções</h3>
    <div class="form-group">
        @Html.EditorFor(model => model.Wrap)
        @Html.LabelFor(model => model.Wrap, htmlAttributes: new { @class = "control-label" })
    </div>
    <input type="submit" class="btn btn-primary" value="Fechar o pedido" />
}
