﻿@model IEnumerable<ModaMiguelao.Web.ViewModels.ProductViewModel>
@using ModaMiguelao.Web.PartialControllers
@{
    PagingController paging = ViewBag.Paging;
}

<h2>Vitrine</h2>
<div class="col-xs-2">
    @Html.Action("Category", "Product")
</div>
<div class="col-xs-10">
    @foreach (var item in Model)
    {
        @Html.Partial("PartialShowcaseItem", item)
    }

    <div class="btn-group pull-right">
        @Html.Partial("Paging", paging)
    </div>
</div>
