﻿@model ModaMiguelao.Web.PartialControllers.ModalController

<div id="myModal" tabindex="-1" role="dialog" class="modal fade" aria-labelledby="ModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dissmiss="modal" aria-label="Close" onclick="modal.noClick()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">@Model.Title</h4>
            </div>
            <div class="modal-body">
                <p>@Model.BodyText</p>
            </div>
            <div class="modal-footer">
                @if (Model.DisplayYesNoButton)
                {
                    <button type="button" class="btn btn-default" data-dissmiss="modal" onclick="modal.noClick()">No</button>
                    <button type="button" class="btn btn-primary" onclick="modal.yesClick()">Yes</button>
                }
                @if (Model.DisplayOkButton)
                {
                    <button type="button" class="btn btn-primary" onclick="modal.okClick()">Save</button>
                }
            </div>
        </div>
    </div>
</div>
