﻿@model ModaMiguelao.Web.ViewModels.ProductViewModel

<div class="well">
    <div class="pull-left" style="margin-right: 10px;">
        <img class="img-thumbnail" src="http://www.spyral.com.br/wp-content/uploads/2015/06/Camiseta-180x180.jpg" />
    </div>
    <div>
        <h3>
            <strong>
                @Html.DisplayFor(modelItem => Model.Name)
            </strong>
        </h3>
    </div>
    <div>
        <h3>
            <span class="pull-right label label-primary">
                @Html.DisplayFor(modelItem => Model.Category)
            </span>
        </h3>
    </div>
    <div>
        <h3>
            <span class="pull-right label label-primary">
                @Html.DisplayFor(modelItem => Model.Value)
            </span>
        </h3>
    </div>
    @using (Html.BeginForm("Add", "ShoppingCart")) {
    <div class="pull-right">
        @Html.HiddenFor(modelItem => Model.Id)
        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)

        <input type="submit" class="btn btn-success" value="Adicionar" />
    </div>
    }
    <div>
        <span class="lead">
            @Html.DisplayFor(modelItem => Model.Description)
        </span>
    </div>
    @*<div>
        @Html.DisplayFor(modelItem => Model.Available)
    </div>*@
</div>